#content{
    clear: left;
    margin:0 auto;
    position: relative;
    width:990px;
}
.janeshop{
    height:560px;
    overflow:hidden;
    padding:10px 0;
}
#jnCatalog{
    float: left;
    height:560px ;
    margin:0 11px 0 0;
    overflow: hidden;
    width:187px ;
}
#jnImageroll{
    float: left;
    height:320px ;
    margin:0 11px 0 0;
    overflow: hidden;
    position: relative;
    width: 550px;
}
#jnNotice{
    float: left;
    height:321px;
    overflow: hidden;
    width:230px;
}
#jnBrand{
    float: left;
    height:230px ;
    margin:10px 0 0;
    overflow: hidden;
    width:790px;
}
#jnCatalog h2{
    height: 30px;
    line-height: 30px;
    color: #fff;
    font-size:12px;
    text-indent:13px;
    background: #6e6e6e;
}
.jnCatainfo{
    border:#6e6e6e;
    border-style:none solid solid;
    border-width:0 1px 1px ;
    height:524px;
    overflow: hidden;
    padding:5px 10px 0;
    width:165px;
}
.jnCatainfo h3{
    border-bottom:1px solid #eee;
    height:24px ;
    line-height:24px ;
    width:164px;
}
.jnCatainfo ul{
    float: left;
    padding:0 2px 8px ;
}
.jnCatainfo li{
    color: #aeadae;
    float:left;
    height:24px ;
    width:79px ;
    overflow: hidden;
    position: relative;
}
.jnCatainfo li a{
    color: #444;
}
.jnCatainfo li a:hover{
    color: #008cd7;
    text-decoration: none;
}
.jnCatainfo li a.promoted{
    color: #f9044e;
}
.jnCatainfo li .hot{
    background: url("../images/hot.gif") no-repeat scroll 0 0 transparent;
    height:16px ;
    position: absolute;
    top:0;
    width:21px ;
}
#jnImageroll img{
    position:absolute;
    left:0;
    top:0;
}
.JS_css3 img {
    -webkit-transition: 1s all;
    -moz-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}
.JS_css3:hover img {
    -webkit-transform: rotate(720deg);
    -moz-transform: rotate(720deg);
    -o-transform: rotate(720deg);
    transform: rotate(720deg);
}
#jnImageroll div{
    bottom:0;
    overflow:hidden;
    position: absolute;
    float:left;
}
#jnImageroll div a{
    background: #444;
    color: #fff;
    display: inline-block;
    float: left;
    height:32px ;
    margin-right:1px ;
    overflow: hidden;
    padding:5px 15px ;
    text-align: center;
    width:79px ;
}
#jnImageroll div a:hover{
    text-decoration:none;
}
#jnImageroll div a em{
    cursor: pointer;
    display: block;
    height:16px ;
    overflow: hidden;
    width:79px ;
}
#jnImageroll .last{
    margin:0;
    width:80px ;
}
#jnImageroll a.chos{
    background:url("../images/adindex.gif") no-repeat center 39px #37a7d7;
    color: #fff;
}
#jnNotice{
    float: left;
    height:321px ;
    overflow: hidden;
    width:230px ;
}
#jnNoticeInfo{
    float: left;
    border:1px solid #dfdfdf;
    height:133px ;
    overflow: hidden;
    width:228px ;
}
#jnNoticeInfo h2{
    height:23px ;
    line-height:23px ;
    border-bottom:1px solid #dfdfdf;
    text-indent:12px ;
}
#jnNoticeInfo ul{
    float: left;
    padding:6px 2px 0 12px;
}
#jnNoticeInfo li{
    height:20px ;
    line-height:20px ;
    overflow: hidden;
}
#jnNoticeInfo li a{
    color: #666;
}
#jnNoticeInfo li a:hover{
    color: #008cd7;
    text-decoration: none;
}
#jnBrandTab{
    border-bottom:1px solid #e4e4e4;
    height:29px ;
    position:relative;
    width:790px ;
    float: left;
}
#jnBrandTab h2{
    height:29px;
    line-height:29px ;
    left:0;
    position: absolute;
    width:100px ;
}
#jnBrandTab ul{
    list-style: none;
    position: absolute;
    right:0;
    top:10px ;
}
#jnBrandTab li{
    float: left;
    margin:0 10px 0 0;
}
#jnBrandTab li a{
    background: #e4e4e4;
    color:#000;
    display: inline-block;
    height:20px ;
    line-height:20px ;
    padding:0 10px ;
}
#jnBrandTab .chos{
    background:url("../images/chos.gif") no-repeat scroll 50% bottom transparent;
    padding-bottom:3px ;
}
#jnBrandTab .chos a{
    background: #fa5889;
    color: #fff;
    outline:0 none;
}
#jnBrandContent{
    float:left;
    height:188px ;
    overflow: hidden;
    margin:8px 5px ;
    width:790px ;
    position: relative;
}
#jnBrandList{
    position: absolute;
    left:0;
    top:0;
    width:3200px;
}
#jnBrandContent li{
    float: left;
    height:188px ;
    overflow: hidden;
    padding:0 5px ;
    position: relative;
    width:185px ;
}
#jnBrandContent li img{
    left:5px ;
    position: absolute;
    top :0;
}
#jnBrandContent li span{
    background-color: #efefef;
    bottom:0;
    color: #666;
    display: inline-block;
    font-size:14px ;
    height:24px ;
    line-height:24px ;
    overflow: hidden;
    position: absolute;
    text-align: center;
    width:183px ;
}
#jnBrandContent li a{
    color: #666;
}
#jnBrandContent li a:hover{
    color: #008cd7;
    text-decoration: none;
}
#tooltip{
    position: absolute;
    border:1px solid #333;
    background: #f7f5d1;
    padding:1px ;
    color: #333;
    display:none;
}
.imageMask{
    opacity: 0;
    cursor: pointer;
}
.imageOver{
    background:url("../images/zoom.gif")no-repeat 50% 50%;
    filter:alpha(opacity=60);
    opacity:0.6;
}
